body {
  background-color: black;
  margin: 0 auto;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 22px;
  height: 1000px;
}

#header {
  height: 600px;
  background-repeat: no-repeat;
  background-position: fixed;
  background-image: url("https://images.pexels.com/photos/326333/pexels-photo-326333.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

#fixed-header {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  display: inline-block;
  height: 115px;
  z-index: 100;
}

#header-img {
  width: 170px;
  margin-left: 80px;
  margin-top: -20px;
  position: fixed;
  padding-right: 14px;
  padding-top: 10px;
  border-radius: 15px;
  background-color: rgba(50, 0, 0, 1);
  box-shadow: 10px 10px 18px black;
}

#bottle-wine {
  height: 500px;
  margin-top: 130px;
  margin-left: 850px;
}

#nav-bar {
  display: flex;
  width: 100%;
  margin-top: 50px;
  background-color: rgba(60, 0, 0, 0.5);
  box-shadow: 10px 10px 18px;
}

#nav-bar ul {
  display: flex;
  width: 700px;
  margin-left: 700px;
  justify-content: space-around;
  list-style-type: none;
  text-shadow: 3px 4px 3px black;
  opacity: 80%;
}

.nav-link:hover {
  cursor: pointer;
  color: brown;
  opacity: 70%;
  font-size: 21px;
}

a {
  text-decoration: none;
  color: white;
}

#email {
  display: flex;
  position: absolute;
  margin-top: 420px;
  margin-left: 200px;
  width: 400px;
  height: 50px;
  padding-left: 20px;
  border-radius: 10px;
  box-shadow: 3px 4px 10px black;
}

#submit {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 22px;
  background-color: rgba(60, 0, 0, 0.9);
  color: white;
  justify-content: center;
  display: flex;
  position: absolute;
  margin-top: 500px;
  margin-left: 310px;
  width: 200px;
  height: 50px;
}

.text-1 {
  position: absolute;
  color: white;
  width: 500px;
  margin-top: 230px;
  margin-left: 160px;
  text-align: center;
}

#about-us {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  background-color: rgba(60, 10, 10, 0.8);
  padding: 50px;
  padding-top: 200px;
}

.youtube-video {
  display: flex;
  width: 600px;
  margin-top: 10px;
}

.text-2 {
  display: flex;
  width: 300px;
  font-size: 30px;
  margin-top: 10px;
}

#features {
  width: 1400px;
  margin: 0 auto;
  margin-top: 50px;
}

.this-month {
  margin: 0 auto;
}

#this-month-wine {
  height: 500px;
  margin: 0 auto;
}

#contact-us {
  width: 1400px;
  margin: 0 auto;
  margin-top: 50px;
  margin-top: 150px;
}

.text-3 {
  font-size: 22px;
  position: absolute;
  color: white;
  width: 500px;
  margin-top: 10px;
  margin-left: 500px;
  text-align: center;
}

@media only screen and (max-width: 500px) {
  body {
    background-color: white;
  }
}
